<!doctype html>
<title>Science Fair Website</title>
<!-- Pico.css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" />


<body>
	<p>
	<button  style="width: 200px; margin-left: auto;margin-right:auto; margin-bottom: 50;" href="http://127.0.0.1:2000/home">Hand Soap</button>
	<button style="width: 200px; margin-left: auto;margin-right:auto; margin-bottom: 50;" href="http://127.0.0.1:2000/home">Bath Soak</button>
	<button style="width: 200px; margin-left: auto;margin-right:auto; margin-bottom: 50;" href="http://127.0.0.1:2000/home">Shampoo</button>
	<button style="width: 200px; margin-left: auto;margin-right:auto; margin-bottom: 50;" href="http://127.0.0.1:2000/home">Dish Soap</button>
	</p>
    <!-- Form for pics -->
    <header class="container">
      <hgroup>
		<h2>Select a file to upload</h2>

{% if filename %}
	<div>
		<img src="{{ url_for('static', filename='/Image_Upload/'+filename) }}">
	</div>
{% endif %}
<form method="post" action="/home" enctype="multipart/form-data">
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<h3>Concentration : {{ Concentration }}</h3>
</body>
</html>
